.masthead {font-size: 11px;}
header {text-align: center;
padding-top: 1em;}
body {font-family: 'Playfair Display', serif;
font-family: 'Lora', serif;}
.right {text-align: right;}

.logo{text-align: center;

}